<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vytas Kilinskas</title>
</head>
<body>
    <h1>Hello world</h1>
    <table border="1">
        <tr>
            <th>FIrst name</th>
            <th>Last name</th>
        </tr>
        <tr>
            <td><%= personData[0].firstName %></td>
            <td><%= personData[0].lastName %></td>
        </tr>
    </table>
</body>
</html>